<%- include ('partials/head'); %>
<title>Search</title>
</head>

<%- include ('partials/header'); %>

<main class="margin-bottom-120">
    <section class="grid container-search">
        <div class="col-7">
            <h1 class="margin-bottom-32">Résultats : <span class="primary"><%= word %> </span></h1>
            <form action="/search" method="get" class="margin-bottom-48">
                <input class="search-bar margin-bottom-32" name="word" id="searchBarPage" type="text" placeholder="Écrivez votre recherche" value="<%= word %>">
                <input class="btn-primary body1 width-unset" type="submit"  id="btn-search" value="Lancer la recherche">
            </form>
        </div>

        <div class="col-10 allParcours">
            <a class="link-click-off">Tous les résultats (08)</a>
            <div class="nav-separator"></div>
            <a class="link-click-off">Parcours (01)</a>  
            <div class="nav-separator"></div>
            <a class="link-click-on">Personnes (07)</a>    
            <div class="nav-separator"></div>
            <a class="link-click-off">Guides</a>     
            <div class="nav-separator"></div>
            <a class="link-click-off">Événements</a>                                      
        </div>
    </section>

    <section class="container-main grid">


        <div class="col-10">
            
            <% users.forEach(user => { %>
            
            <div class="container-post margin-bottom-24">
                <div class="search-results">
                    <img class="image-profil-friend" src="img/image-friend6@2x.png" alt="">
                    <div id="search-results-cursor">
                        <form action="/search/friend/<%= user.id%>" method="get" class="search-result-form">
                            <button type="submit" class="tag-name tag-name-result"><%=user.name %></button>
                            <p>Québec City, Québec</p>
                        </form>

                        <div id="btns-search-results">
                            <form action="/search/<%= user.id %>" method="get">
                             <input type="hidden" name="word" value="<%= word %>">
                                <button type="submit" class="btn-primary width-unset">Ajouter en ami.e</button>
                            </form>
                             <button class="btn-secondary-light width-unset" id="btn-search-follow">Suivre</button>
                        </div>
                    </div>
                </div>
            </div>  

            <% }) %> 
            
    </section>

        <section class="col-4 ">

            <ul class="pagination">
                <li>
                    <form action="">
     
                        <input type="hidden" name="page" value=""/>
                            <button></button>   
                    </form>
                </li>
            </ul>
            
        </section>
  


<%- include ('partials/footer'); %>
</body>
</html>